@charset "UTF-8";

html{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 90vw;
    background-color: grey;
}

body{
    border-radius: 5px;
    margin: auto;
    width: 80vw;
    background-color: white;
    height: max-content;
    text-align: center;
}

.cover{
    width: 500px;
    height: 281px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.297);
    border-radius: 20px;
}

.cover:hover{
    cursor: pointer;
    width: 550px;
    height: 309px;
    transition: .7s;
}

h1{
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
}